body {
  font-family: Arial, sans-serif;
  background-color: #e8f5e9; 
  color: #2e7d32; 
  text-align: center;
  padding: 20px;
}

h1, h2, h3 {
  color: #1b5e20; 
}

#login-content {
  display: block; 
  margin: 0 auto; 
  width: 50%; 
  max-width: 500px; 
  text-align: center; 
}

#project-div {
  display: block; 
  margin: 0 auto; 
  width: 50%; 
  max-width: 500px; 
  text-align: center; 
}

#task-div {
  display: block; 
  margin: 0 auto; 
  width: 50%; 
  max-width: 500px; 
  text-align: center; 
}

#story-div {
  display: block; 
  margin: 0 auto; 
  width: 50%; 
  max-width: 500px; 
  text-align: center; 
}

#logout-button {
  display: block; 
  margin: 0 auto; 
  width: 5%; 
  max-width: 500px; 
  text-align: center; 
}

button {
  background-color: #4caf50; 
  color: white;
  border: none;
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 50%;
  
}

button:hover {
  background-color: #388e3c; 
}

textarea, input[type="text"], input[type="password"], select, input[type="number"] {
  width: 100%; 
  padding: 5px; 
  border: 1px solid #a5d6a7; 
  border-radius: 5px;
  background-color: #f1f8e9; 
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box; 
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #a5d6a7; 
  border-radius: 5px;
  background-color: #e8f5e9; 
}

.kanban-column {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  padding: 10px;
  border: 1px solid #a5d6a7; 
  border-radius: 5px;
  background-color: #e8f5e9; 
  margin-right: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} 

.kanban-column h3 {
  text-align: center;
  color: #2e7d32; 
}

.input-box {
  border: 1px solid #a5d6a7;
  border-radius: 5px;
  padding: 10px;
  background-color: #f1f8e9;
  margin-bottom: 15px;
}


body.dark-mode {
  background-color: #333;
  color: #ccc;
}

body.dark-mode h1, 
body.dark-mode h2, 
body.dark-mode h3 {
  color: #ddd;
}

body.dark-mode button {
  background-color: #575;
  color: #eee;
}

body.dark-mode button:hover {
  background-color: #777;
}

body.dark-mode textarea, 
body.dark-mode input[type="text"], 
body.dark-mode input[type="password"], 
body.dark-mode select, 
body.dark-mode input[type="number"] {
  background-color: #444;
  color: #ccc;
  border: 1px solid #555;
}

body.dark-mode input::placeholder,
body.dark-mode textarea::placeholder {
  color: #bbb;
}

body.dark-mode ul,
body.dark-mode li {
  background-color: #555;
  border: 1px solid #666;
}

body.dark-mode .kanban-column {
  background-color: #444;
  border: 1px solid #666;
}

body.dark-mode .kanban-column h3 {
  color: #ddd;
}

body.dark-mode .input-box {
  background-color: #444;
  border: 1px solid #666;
}
